<form>
    <div class="form-group row">
        <label for="input1" class="col-sm-2 col-form-label">First Input</label>
        <div class="col-sm-10">
          <input type="number" name="firstInput" [(ngModel)]="firstInput" step="1" pattern="\d*" class="form-control" id="input1" placeholder="0">
        </div>
      </div>
    <div class="form-group row">
        <label for="input2" class="col-sm-2 col-form-label">Second Input</label>
        <div class="col-sm-10">
          <input type="number" name="secondInput" [(ngModel)]="secondInput" step="1" pattern="\d*" class="form-control" id="input2" placeholder="0">
        </div>
      </div>
  <div class="form-group row" *ngIf="secondInput && firstInput">
    <label for="addition" class="col-sm-2 col-form-label">Addition</label>
    <div class="col-sm-10">
      <input type="text" name="addition" [(ngModel)]="addition" readonly class="form-control-plaintext" id="addition" value="">
    </div>
  </div>
  <div class="form-group row" *ngIf="secondInput && firstInput">
      <label for="subtraction" class="col-sm-2 col-form-label">Subtraction</label>
      <div class="col-sm-10">
        <input type="text" name="subtraction" [(ngModel)]="subtraction" readonly class="form-control-plaintext" id="subtraction" value="">
      </div>
    </div>
  <div class="form-group row" *ngIf="secondInput && firstInput">
      <label for="multiplication " class="col-sm-2 col-form-label">Multiplication </label>
      <div class="col-sm-10">
        <input type="text" name="multiplication" [(ngModel)]="multiplication" readonly class="form-control-plaintext" id="multiplication " value="">
      </div>
    </div>
  
</form>