<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Homework</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/calculator" >calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/palindrome">palindrome</a>
      </li>
    </ul>
  </div>
</nav>
<br />
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>



