<form>
  <div class="form-group">
    <label for="example">Palindrome Checker</label>
    <input name="textbox" type="text" [(ngModel)]="palindromeText" class="form-control" id="example" placeholder="Palindrome Text">
  </div>
  <div class="form-group" *ngIf="palindromeText.length > 0">
    <textarea name="solution" disabled class="form-control" rows="1" [(ngModel)]="palindromeSolution"></textarea>
  </div>
</form>